.auth__root {
    font-family: serif;
    color: dimgray;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }
  .auth__root span {
    cursor: pointer;
  }