.tasklist__icon {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    margin-top: 10px;
    color: dimgray;
  }
  .tasklist__hover {
    cursor: pointer;
  }
  button:disabled {
    color: #ccc;
    cursor: none;
  }